.chat-item {
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color);

  &:first-child {
    border-top: 1px solid var(--border-color);
  }
}
.chat-item_flex {
  display: flex;
}
.chat-item__avatar {
  flex-shrink: 0;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: var(--neutral-background-color);
  margin-right: 10px;
}
.chat-item-info.chat-item__info {
  width: 100%;
}
.chat-item-info__name {
  margin-bottom: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: var(--text-color-01);
}
.chat-item-info__message {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--text-color-02);
}
.chat-item-info__message_me {
  margin-right: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: var(--text-color-01);
}
.chat-item-data__time {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  color: var(--text-color-02);
}
.chat-item-data__count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  width: 20px;
  height: 20px;
  color: var(--white);
  border-radius: 50%;
  background-color: var(--primary);
}

.create-chat-button {
    width: 100%;
}
