@import "../../../style/mixins";

.profile-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  border-bottom: 1px solid var(--primary-grey);

  &:last-of-type {
    border-bottom: none;
  }
}

.profile-info__title {
  @include text-s();
}

.profile-info__info {
  @include text-s();
  color: var(--secondary-grey)
}
