.button {
  border: none;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  font-size: 13px;
  padding: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.button.blue {
  background-color: var(--primary);
}

.button.white {
  background-color: var(--white);
  color: var(--primary);
}