.form {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 50px 30px 30px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}
.form__title {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 50px;
  text-align: center;
}
.form__field {
  margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}
.form .button {
  width: 100%;
}
