.left-navigation-button {
    width: 65px;
    height: 100%;
    background-color: var(--border-color);
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}
