if leftNavigationButton
    != leftNavigationButton
.profile
    div.main
        form.form(action="/chats")
            p.form__title Настройки пользователя
            if emailField
                div.form__field
                    != emailField
            if loginField
                div.form__field
                    != loginField
            if firstNameField
                div.form__field
                    != firstNameField
            if secondNameField
                div.form__field
                    != secondNameField
            if displayNameField
                div.form__field
                    != displayNameField
            if phoneField
                div.form__field
                    != phoneField
            if passwordField
                div.form__field
                    != passwordField
            if submitButton
                div.form__field
                    != submitButton

                    if profileReq
                        p.input-field__message
                            != profileReq.errorMessage
            if loginButton
                div.form__field
                    != loginButton
