<!DOCTYPE html>
   html(lang="ru")
      head
        include ../layout/head
        title Messenger
        link(rel="stylesheet" href="../styles/index.scss")
      body
        div(id="app")
        script(src='index.ts', type='module')
