:root {
  // colors
  --primary-black: #1E1E1E;
  --primary-blue: #3369F3;
  --primary-white: #FFFFFF;
  --primary-grey: #EFEFEF;
  --primary-red: #FF0000;
  --secondary-grey: #999999;
  --secondary-white: #FBFBFB;
}
