if leftNavigationButton
    != leftNavigationButton
.profile
    div.main
        form.form
            p.form__title  Изменить пароль
            if oldPasswordField
                div.form__field
                    != oldPasswordField
            if newPasswordField
                div.form__field
                    != newPasswordField

            if submitButton
                div.form__field
                    != submitButton

                    if passwordReq
                        p.input-field__message
                            != passwordReq.errorMessage
