doctype html
html
    head
        title SIGN IN
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="../../style/index.scss")
    body
        #root
        script(type="module", src="./signIn.ts")