@import "../../../style/mixins";

.link-button {
  @include text-xxs();
  cursor: pointer;
  color: var(--primary-blue);

  &.size-l {
    @include text-s();
  }

  &.danger {
    color: var(--primary-red);
  }
}