section.chats-left-sidebar
    .chats-control-panel
        a.profile-link(href="/user-settings")
            .profile-link__text Профиль
            img(width="4" height="8" src=arrowImage).profile-link__icon

        .chats-search
            input.chats-search__input(type="text" placeholder="Поиск")

    != chatsList

section.chat
    .chat-header
        .chat-profile
            .chat-profile__avatar
            p.chat-profile__name Вадим
        .chat-menu
            img(width="24" height="24" src=hamburgerImage).chat-menu__hamburger

    .messages-area
        !=messagesList

    .message-form
        .message-form_flex
            img.message-form__file-icon(width="32" height="32" src=fileImage)
            input.message-form__input(type="text" placeholder="Сообщение")
            .message-form__send
                img.message-form__send-icon(width="28" height="28" src=sendImage)
