extends ../../layouts/chatLayout/chatLayout.tmpl.pug
include ../../components/atoms/chatListElement/chatListElement.tmpl.pug
include ../../components/atoms/search/search.tmpl.pug
include ../../components/atoms/linkButton/linkButton.tmpl.pug

block content
    .chat__wrapper
      .chat__list-wrapper
        .chat__profile-button-wrapper
          +linkButton('Профиль')
        .chat__search-wrapper
          +renderSearch()
        .chat__messages-list-wrapper
          each message in messages
            .chat_message-wrapper
              +renderChatListElement(message)
          else
            p 'Не найдено'
      .chat__messages-area-wrapper
        h1 заглушка на сообщения
