.chats-wrapper {
  display: flex;
  height: 100%;
}
.chats-left-sidebar {
  width: 310px;
  background-color: #FBFBFB;
  padding: 0 10px;
}
.profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #999999;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-top: 21px;
  margin-bottom: 23px;
  text-decoration: none;
}
.profile-link__icon {
  margin-left: 4px;
}
.chats-search {
  margin-bottom: 14px;
}
.chats-search__input {
  width: 100%;
  height: 32px;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #1e1e1e;
}





.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}




.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #EAEAEA;
}
.chat-profile {
  display: flex;
  align-items: center;
}
.chat-profile__avatar {
  width: 47px;
  height: 47px;
  background-color: #EFEFEF;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-profile__name {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: #1E1E1E;
}
.chat-menu {
  display: flex;
  align-items: center;
}




.message-form_flex {
  display: flex;
  align-items: center;
  padding: 11px 0;
  border-top: 1px solid #EAEAEA;
}
.message-form__input {
  width: 100%;
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #EFEFEF;
}




.messages-area {
  flex-grow: 1;
}
