.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 30px 30px;
  background: var(--primary-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: var(--12);
}