extends ../../layouts/centered/centeredLayout.tmpl.pug
include ./../../components/atoms/avatar/avatar.tmpl.pug
include ./../../components/atoms/profileInfo/profileInfo.tmpl.pug
include ./../../components/atoms/linkButton/linkButton.tmpl.pug

block content
    .profile__header-wrapper
        .profile__heading-wrapper
            +renderAvatar('j')
        h1.profile__heading= name
    .profile__info-wrapper
        +renderProfileInfo('Почта', email)
        +renderProfileInfo('Логин', login)
        +renderProfileInfo('Имя', name)
        +renderProfileInfo('Фамилия', surname)
        +renderProfileInfo('Имя в чате', nickname)
        +renderProfileInfo('Телефон', phone)
    .profile__footer-wrapper
        .profile__control-wrapper
            +linkButton('Изменить данные')
        .profile__control-wrapper
            +linkButton('Изменить пароль')
        .profile__control-wrapper
            +linkButton('Выйти', 'l', true)
