extends ../../layouts/centered/centeredLayout.tmpl.pug
include ./../../components/atoms/avatar/avatar.tmpl.pug
include ./../../components/atoms/header/header.tmpl.pug
include ./../../components/atoms/profileInfo/profileInfo.tmpl.pug
    include ./../../components/atoms/linkButton/linkButton.tmpl.pug

block content
    .profile-header-wrapper
        +renderAvatar('j', 'k')
        +renderHeader("Иван")
    .profile-info-wrapper
        +renderProfileInfo('Почта', 'pochta@yandex.ru')
        +renderProfileInfo('Логин', 'ivanivanov')
        +renderProfileInfo('Имя', 'Иван')
        +renderProfileInfo('Фамилия', 'Иванов')
        +renderProfileInfo('Имя в чате', 'Иван')
        +renderProfileInfo('Телефон', '+7 (909) 967 30 30')
    .profile-footer-wrapper
        .profile-control-wrapper
            +linkButton('Изменить данные')
        .profile-control-wrapper
            +linkButton('Изменить пароль')
        .profile-control-wrapper
            +linkButton('Выйти', '', true)
