section.chats-left-sidebar
    .chats-control-panel
        != userButton

        .chats-search
            input.chats-search__input(type="text" placeholder="Поиск")

    != chatsList

section.chat
    != chatArea
