@import "normalize.css";
@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Inter');

/** layout styles */
@import "../layouts/centered/centeredLayout.style";

/** components styles */
/** ----------------- */
/** atoms styles */
@import "../components/atoms/tile/tile.style";
@import "../components/atoms/button/button.style";
@import "../components/atoms/linkButton/linkButton.style";
@import "../components/atoms/input/input.style";
@import "../components/atoms/avatar/avatar.style";
@import "../components/atoms/profileInfo/profileInfo.style";

/** atoms styles */
@import "../components/molecules/error/error.style";

/** screens styles */
@import "../screens/signIn/signIn.style";
@import "../screens/signUp/signUp.style";
@import "../screens/error404/errorScreen404.style";
@import "../screens/error500/errorScreen500.style";
@import "../screens/profile/profile.style";

html, body {
    font-family: 'Inter', Arial, sans-serif;
    color: #1E1E1E;;
}

// Временные стили для страницы со списком страниц
.index__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.index__header {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.index__nav-list-container {
    display: flex;
    flex-direction: column;
}

.index__nav-element-container {
    display: flex;
    align-items: center;
}

.index__page-title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;

    margin-bottom: 15px;
}
