@import "normalize.css";
@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Inter');

/** layout styles */
@import "../layouts/centered/centeredLayout.style";

/** components styles */
/** ----------------- */
/** atoms styles */
@import "../components/atoms/tile/tile.style";
@import "../components/atoms/header/header.style";
@import "../components/atoms/button/button.style";
@import "../components/atoms/linkButton/linkButton.style";
@import "../components/atoms/input/input.style";
@import "../components/atoms/avatar/avatar.style";
@import "../components/atoms/profileInfo/profileInfo.style";

/** screens styles */
@import "../screens/signIn/signIn.style";
@import "../screens/signUp/signUp.style";
@import "../screens/errors/errorScreen.style";
@import "../screens/profile/profile.style";

html, body {
    font-family: 'Inter', Arial, sans-serif;
    color: #1E1E1E;;
}

.screen-list-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    // TODO: delete margin later
    margin: auto;
}

.screen-list__nav-container {
    margin:auto;
}