@mixin text-xxl() {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
}

@mixin text-xl() {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

@mixin text-l() {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

@mixin text-m() {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
}

@mixin text-s-bold() {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}

@mixin text-s() {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
}

@mixin text-xs-bold() {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

@mixin text-xs() {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

@mixin text-xxs() {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
}

@mixin text-xxxs {
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
}