if avatar
    img.profile-avatar-img(src!= avatar)
else
    img.profile-avatar-img.profile-avatar-img_union(src!= unionImage)

if changeHref
    button.profile-avatar-change
        span Поменять аватар
