doctype html
html
    head
        title MESSENGER
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="../src/style/index.scss")
    body
        main
            .screen-list-container
                h1 Список экранов приложения:
                .screen-list__nav-container
                    a(href='./screens/profile') Профиль
