.message-form_flex {
    display: flex;
    align-items: center;
    padding: 11px 0;
    border-top: 1px solid var(--border-color);
}
.message-form__file-icon {
    width: 32px;
    height: 32px;
}
.message-form__input {
    width: 100%;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--neutral-background-color);
}
.message-form__send {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.message-form__send-icon {
    width: 28px;
    height: 28px;
}
