.message-form_flex
    img.message-form__file-icon(src=fileImage)
    input.message-form__input(type="text" name="message" required placeholder="Сообщение")
    button.message-form__send(type="submit")
        img.message-form__send-icon(src=sendImage)
